<?xml version="1.0"?>
<launch>
  <arg name="size" default="0.1" doc="leaf size for voxel grid" />
  <arg name="cluster_dist_thres" default="30" doc="distance threshold for cluster" />
  <arg name="centroid_dist_thres" default="1" doc="distance threshold for centroid"
  <param name="use_sim_time" value="false" />

  <node pkg="tracking" type="tracking_node" name="tracking_node" output="screen" clear_params="true" required="true" >
    <param name="leaf_size" value="$(arg size)" />
    <param name="clusterDistThres" value="$(arg cluster_dist_thres" />
    <param name="centroidDistThres" valu=="$(arg centroid_dist_thres" />
  </node>
  <!--node pkg="rosbag" type="play" name="play" args="$(find tracking)/bag/tracking_1.bag -l -r 0.1 -/-clock" output="screen"/-->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find tracking)/config/rviz.rviz"/>
</launch>
