<?xml version="1.0"?>
<launch>
  <arg name="config_file" default="config.yaml"/>
  <node pkg="final_localization" type="localization" name="localization" output="screen" clear_params="true">
    <rosparam command="load" file="$(find final_localization)/config/$(arg config_file)"/>
  </node>
</launch>
