<?xml version="1.0"?>
<launch>
  <arg name="use_icp" default="true"/>
  <arg name="have_odom" default="false"/>
  <arg name="leaf_size" default="0.1"/>
  <arg name="plane_thin" default="0.4"/>
  <arg name="lower_z" default="0.5"/>
  <arg name="upper_z" default="1.5"/>
  <arg name="lower_r" default="1.0"/>
  <arg name="upper_r" default="1"/>
  <arg name="offline" default="10.0"/>
  <arg name="len_of_vec" default="10"/>
  <arg name="saveEvery" default="10"/>
  <node pkg="hw6_0751904" type="icp_slam_main" name="icp_slam_main" clear_params="true" 
        args=" $(arg offline)" output="screen">
    <param name="have_odom" value="$(arg have_odom)"/>
    <param name="use_icp" value="$(arg use_icp)"/>
    <param name="leaf_size" value="$(arg leaf_size)"/>
    <param name="plane_thin" value="$(arg plane_thin)"/>
    <param name="lower_z" value="$(arg lower_z)"/>
    <param name="upper_z" value="$(arg upper_z)"/>
    <param name="lower_r" value="$(arg lower_r)"/>
    <param name="upper_r" value="$(arg upper_r)"/>
    <param name="len_of_vec" value="$(arg len_of_vec)"/>
    <param name="saveEvery" value="$(arg saveEvery)"/>
    <remap from="~velodyne_points" to="/velodyne_points"/>
  </node>
</launch>
